.movies-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.movies-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    border: solid 1px white;
    padding: 20px;
    margin:10px;
    position: relative;
}

.movie-title {
font-size: 2.5rem;
padding: 5px 0;
}

.movie-overview {
    padding: 5px 0;
}

.movie-rating {
    padding: 5px 0;
    font-size: 1.3rem;
}

.movie-poster {
    max-width: 100%;
}

.fas {
    position: absolute;
    right: -10px;
    top: -15px;
    size: 2x;
    color: rgb(221, 81, 81);
}

.fas:hover {
    color: rgb(231, 3, 3);
}



.details {
    display: none;
}

.detailsClicked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posterClicked {
    display:none;
}