.movies-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.movies-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    border: solid 1px white;
    padding: 20px;
    margin:10px;
    position: relative;
    height: 300px;
}

.movie-title {
font-size: 2.5rem;
padding: 5px 0;
border-bottom: 1px white solid;
}

.movie-overview {
    padding: 5px 0;
}

.movie-rating {
    padding: 5px 0;
    font-size: 1.3rem;
}

.movie-poster {
    max-width: 100%;
    max-height: 100%;
}

.fas {
    position: absolute;
    right: 5px;
    top: 0;
    size: 2x;
    color: white;
}

.fas:hover {
    color: rgb(255, 219, 153);
}

.clicked{
    color: rgb(240, 204, 1);
}

.details {
    display: none;
}

.detailsClicked {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posterClicked {
    display:none;
}

@media only screen and (min-width: 768px) {
    .movie-poster {
        max-width: 100% ;
    }

    .movies-main {
        height: auto;
    }
  }