.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.movies-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: solid 6px white;
  margin: 10px;
  position: relative;
  max-width: 150px;
}

.movie-title {
  margin-top: 35px;
  font-size: 1.5rem;
  padding: 5px 0;
  border-bottom: 1px white solid;
  align-items: center;
}

.movie-overview {
  padding: 5px 0;
  position: relative;
  font-size: .8rem;
}

.movie-rating {
  padding: 5px 0;
  font-size: 1.3rem;
}

.movie-poster {
  width: 100%;
  position: relative;
}

.fas {
  position: absolute;
  right: 5px;
  top: -6px;
  color: white;
  opacity: 40%;
}

.fas:hover {
  color: rgb(255, 219, 153);
  opacity: 100%;
}

.clicked {
  color: rgb(240, 204, 1);
  opacity: 100%;
}

.details {
  display: none;
}

.detailsClicked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posterClicked {
  display: none;
}

@media only screen and (min-width: 768px) {
  .movie-poster {
    max-width: 300px;
    position: relative;
  }

  .movies-main {
    height: auto;
    max-width: 300px;
  }
}
